// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap

@import 'node_modules/bootstrap/scss/bootstrap';
@import 'node_modules/bootstrap-vue/src/index.scss';

// style.scss 
@import '~sweetalert2/src/variables';
 
$swal2-background: #990000;
 
@import '~sweetalert2/src/sweetalert2';

html {
    scroll-behavior: smooth;
    height: 100%;
  }
body{
  height: 100%;
}
  .list-anu li {
    list-style: none;
  }
  .list-anu a{
    text-decoration: none;
  }
  
  .list-anu a:hover{
    color: rgb(53, 95, 114);
  }

.search-bar{
  outline: none;
  box-shadow:none !important;
  border:1px solid #ccc !important;
  border-radius: 0px;
  border-top: none;
  border-left: none;
  border-right: none;
}

font .searched-term{
  background: rgb(255, 230, 0);
}